WebServiceDatos.Web/Web References/NuevoUsuariows/NuevoUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="stNuevoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Identificacion" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="setNombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="setApellidos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="setCargo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stNuevoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stNuevoUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="stNuevoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:stNuevoUsuario" />
  </wsdl:message>
  <wsdl:message name="stNuevoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:stNuevoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="NuevoUsuarioSoap">
    <wsdl:operation name="stNuevoUsuario">
      <wsdl:input message="tns:stNuevoUsuarioSoapIn" />
      <wsdl:output message="tns:stNuevoUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NuevoUsuarioSoap" type="tns:NuevoUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stNuevoUsuario">
      <soap:operation soapAction="http://tempuri.org/stNuevoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NuevoUsuarioSoap12" type="tns:NuevoUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stNuevoUsuario">
      <soap12:operation soapAction="http://tempuri.org/stNuevoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NuevoUsuario">
    <wsdl:port name="NuevoUsuarioSoap" binding="tns:NuevoUsuarioSoap">
      <soap:address location="http://localhost/PI_VentanillaUnica/NuevoUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="NuevoUsuarioSoap12" binding="tns:NuevoUsuarioSoap12">
      <soap12:address location="http://localhost/PI_VentanillaUnica/NuevoUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>