WebServiceDatos.Web/Web References/wsNuevoRadicado/Ventanilla_Unica_Ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wsNuevoRadicado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoRadicado" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoTercero" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoFuncionario" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="CodigoUsuario" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaRadicado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DescripcionRadicado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsNuevoRadicadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsNuevoRadicadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsNuevoRadicadoSoapIn">
    <wsdl:part name="parameters" element="tns:wsNuevoRadicado" />
  </wsdl:message>
  <wsdl:message name="wsNuevoRadicadoSoapOut">
    <wsdl:part name="parameters" element="tns:wsNuevoRadicadoResponse" />
  </wsdl:message>
  <wsdl:portType name="Ventanilla_Unica_WsSoap">
    <wsdl:operation name="wsNuevoRadicado">
      <wsdl:input message="tns:wsNuevoRadicadoSoapIn" />
      <wsdl:output message="tns:wsNuevoRadicadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Ventanilla_Unica_WsSoap" type="tns:Ventanilla_Unica_WsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsNuevoRadicado">
      <soap:operation soapAction="http://tempuri.org/wsNuevoRadicado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Ventanilla_Unica_WsSoap12" type="tns:Ventanilla_Unica_WsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsNuevoRadicado">
      <soap12:operation soapAction="http://tempuri.org/wsNuevoRadicado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ventanilla_Unica_Ws">
    <wsdl:port name="Ventanilla_Unica_WsSoap" binding="tns:Ventanilla_Unica_WsSoap">
      <soap:address location="http://localhost/PI_VentanillaUnica/Ventanilla_Unica_Ws.asmx" />
    </wsdl:port>
    <wsdl:port name="Ventanilla_Unica_WsSoap12" binding="tns:Ventanilla_Unica_WsSoap12">
      <soap12:address location="http://localhost/PI_VentanillaUnica/Ventanilla_Unica_Ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>