WebServiceDatos.Web/Connected Services/wsServicios/ConsultaRadicadoWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutenticacionUsuario">
        <s:complexType />
      </s:element>
      <s:element name="AutenticacionUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutenticacionUsuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clsSeguridad" type="tns:clsSeguridad" />
      <s:complexType name="clsSeguridad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="stToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AutenticacionToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="wsConsultaRadicado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="txtCodigoRadicado" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsConsultaRadicadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsConsultaRadicadoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticacionUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticacionUsuario" />
  </wsdl:message>
  <wsdl:message name="AutenticacionUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticacionUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AutenticacionUsuarioclsSeguridad">
    <wsdl:part name="clsSeguridad" element="tns:clsSeguridad" />
  </wsdl:message>
  <wsdl:message name="wsConsultaRadicadoSoapIn">
    <wsdl:part name="parameters" element="tns:wsConsultaRadicado" />
  </wsdl:message>
  <wsdl:message name="wsConsultaRadicadoSoapOut">
    <wsdl:part name="parameters" element="tns:wsConsultaRadicadoResponse" />
  </wsdl:message>
  <wsdl:message name="wsConsultaRadicadoclsSeguridad">
    <wsdl:part name="clsSeguridad" element="tns:clsSeguridad" />
  </wsdl:message>
  <wsdl:portType name="ConsultaRadicadoWsSoap">
    <wsdl:operation name="AutenticacionUsuario">
      <wsdl:input message="tns:AutenticacionUsuarioSoapIn" />
      <wsdl:output message="tns:AutenticacionUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsConsultaRadicado">
      <wsdl:input message="tns:wsConsultaRadicadoSoapIn" />
      <wsdl:output message="tns:wsConsultaRadicadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaRadicadoWsSoap" type="tns:ConsultaRadicadoWsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticacionUsuario">
      <soap:operation soapAction="http://tempuri.org/AutenticacionUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AutenticacionUsuarioclsSeguridad" part="clsSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsConsultaRadicado">
      <soap:operation soapAction="http://tempuri.org/wsConsultaRadicado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:wsConsultaRadicadoclsSeguridad" part="clsSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConsultaRadicadoWsSoap12" type="tns:ConsultaRadicadoWsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticacionUsuario">
      <soap12:operation soapAction="http://tempuri.org/AutenticacionUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AutenticacionUsuarioclsSeguridad" part="clsSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsConsultaRadicado">
      <soap12:operation soapAction="http://tempuri.org/wsConsultaRadicado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:wsConsultaRadicadoclsSeguridad" part="clsSeguridad" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaRadicadoWs">
    <wsdl:port name="ConsultaRadicadoWsSoap" binding="tns:ConsultaRadicadoWsSoap">
      <soap:address location="http://localhost/PI_VentanillaUnicaWs/ConsultaRadicadoWs.asmx" />
    </wsdl:port>
    <wsdl:port name="ConsultaRadicadoWsSoap12" binding="tns:ConsultaRadicadoWsSoap12">
      <soap12:address location="http://localhost/PI_VentanillaUnicaWs/ConsultaRadicadoWs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>