PI_PlanillaUnicaJson/Web References/WsClientes/WsClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetClientes">
        <s:complexType />
      </s:element>
      <s:element name="GetClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetClientesSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="GetClientesSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="WsClientesSoap">
    <wsdl:operation name="GetClientes">
      <wsdl:input message="tns:GetClientesSoapIn" />
      <wsdl:output message="tns:GetClientesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsClientesSoap" type="tns:WsClientesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsClientesSoap12" type="tns:WsClientesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientes">
      <soap12:operation soapAction="http://tempuri.org/GetClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsClientes">
    <wsdl:port name="WsClientesSoap" binding="tns:WsClientesSoap">
      <soap:address location="http://localhost/Pi_VentanillaUnicaJsonWs/Servicios/WsClientes.asmx" />
    </wsdl:port>
    <wsdl:port name="WsClientesSoap12" binding="tns:WsClientesSoap12">
      <soap12:address location="http://localhost/Pi_VentanillaUnicaJsonWs/Servicios/WsClientes.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>