WebServiceDatos.Web/Web References/NuevoDespachoWs/NuevoDespacho.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="wsNuevoDespacho">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodigoRadicado" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaDespacho" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsNuevoDespachoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsNuevoDespachoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsNuevoDespachoSoapIn">
    <wsdl:part name="parameters" element="tns:wsNuevoDespacho" />
  </wsdl:message>
  <wsdl:message name="wsNuevoDespachoSoapOut">
    <wsdl:part name="parameters" element="tns:wsNuevoDespachoResponse" />
  </wsdl:message>
  <wsdl:portType name="NuevoDespacho_WsSoap">
    <wsdl:operation name="wsNuevoDespacho">
      <wsdl:input message="tns:wsNuevoDespachoSoapIn" />
      <wsdl:output message="tns:wsNuevoDespachoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NuevoDespacho_WsSoap" type="tns:NuevoDespacho_WsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsNuevoDespacho">
      <soap:operation soapAction="http://tempuri.org/wsNuevoDespacho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NuevoDespacho_WsSoap12" type="tns:NuevoDespacho_WsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsNuevoDespacho">
      <soap12:operation soapAction="http://tempuri.org/wsNuevoDespacho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NuevoDespacho_Ws">
    <wsdl:port name="NuevoDespacho_WsSoap" binding="tns:NuevoDespacho_WsSoap">
      <soap:address location="http://localhost/PI_VentanillaUnica/NuevoDespacho.Ws.asmx" />
    </wsdl:port>
    <wsdl:port name="NuevoDespacho_WsSoap12" binding="tns:NuevoDespacho_WsSoap12">
      <soap12:address location="http://localhost/PI_VentanillaUnica/NuevoDespacho.Ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>